<div>
  <% if flash[:error] %>
    <div class="well alert alert-danger validation">
      <%= content_tag(:div, flash[:error], :id => "flash_error") %>
    </div>
  <% end %>
</div>

<div>
  <% if flash[:notice] %>
    <div class="well alert alert-danger validation">
      <%= content_tag(:div, flash[:notice], :id => "flash_notice") %>
    </div>
  <% end %>
</div>

<div>
  <% if flash[:alert] %>
    <div class="well alert alert-danger validation">
      <%= content_tag(:div, flash[:alert], :id => "flash_alert") %>
    </div>
  <% end %>
</div>
